@model InformationProtection.Models.IpRequestorViewData


<script src="~/Scripts/ApprovalRequestTblAll.js"></script>

<div id="IpRequestTable" style="width: 98%; margin: auto;"></div>

@using (Html.BeginForm("SubmitRequest", "UsersView", new { EmpID = Model.EmpID }))
{
    <div id="divId" style="visibility: hidden">
       @Html.TextBox("OurApprovalList", null)
        @Html.Hidden("EmpID", @Model.EmpID, new { id = "EmpID" })
    </div>  
}

<div id="allRequestTbl" style="width: 98%; margin: auto;"></div>




