@model InformationProtection.Models.IpRequestorViewData

<script src="~/Scripts/ApprovalRequestTbl.js"></script>

<script src="~/Scripts/ApprovalRequestTblAll.js"></script>

<div id="IpRequestTable" style="width: 98%; margin: auto;"></div>

@using (Html.BeginForm("SubmitRequest", "UsersView", new { EmpID = Model.EmpID }))
{
    <div id="divId" style="visibility: hidden">
       @Html.TextBox("OurApprovalList", null)
        @Html.Hidden("EmpID", @Model.EmpID, new { id = "EmpID" })
    </div>  
    <table style="width: 98%">
    <tr style="background-color:#ffccff">
        <td style = "font-size:18px;font-weight:bold;text-align:left" >
            Submit selected request:
           <input type="submit" name="submitButton" value="Submit" />
        </td>
    </tr>
    <tr style="height:25px"></tr>
</table>
}

<div id="allRequestTbl" style="width: 98%; margin: auto;"></div>


