<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="javascript:window.print()">Click to Print This Page</A>
    <div>
        @RenderBody()
    </div>
</body>
</html>
