

@{
    ViewBag.Title = "Admin View";
}
    
<div id="AdminTable" style="width: 100%; margin: auto;"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#AdminTable').jtable({
            title: 'Admin View',
            pageSize: 20,
            paging: true,
            sorting: true,
            defaultSorting: 'FullName ASC',
            selecting: false,
            multiselect: false, 
            selectingCheckboxes: false, 
            actions: {
                listAction: 'AdminView/GetRequestorsIncludeRoles?controllerType=admin'
            },
            fields: {
                IpRequestorId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: true
                }, 
                EmpID: {
                    title: 'EmpID'
                },
                Email: {
                    title: 'E Mail'
                },
                FullName: {
                    title: 'Name'
                },
                RequestorsRoles: {
                    title: 'Roles',
                    sorting: false
                },
                RequestDetailsLink: {
                    title: '',
                    sorting: false
                }
            }
        });

        //Load person list from server
        $('#AdminTable').jtable('load');

    });

</script>
