@{
    ViewBag.Title = "ViewRejectedRequest";
}
    <div id="PendingRequestTable" style="width: 98%; margin: auto;font-size:5px"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var EmpId = $("#EmpId").val();
        var RequestorId = $("#RequestorId").val();
        //Prepare jtable plugin
        $('#PendingRequestTable').jtable({
            title: 'All Rejected Request',
            sorting: true,
            pageSize: 20,
            paging: true,
            defaultSorting: 'Name ASC',
            selecting: false,
            multiselect: false,
            selectingCheckboxes: false, 
            actions: {
                listAction: 'GetByRequestsState?state=rejected'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                RequestDetailsLink: {
                    title: ''
                },
                SubmitDate: {
                    title: 'Submited',
                    type: 'date',
                    displayFormat: 'mm/dd/yy'
                },
                RequestType: {
                    title: 'Type'
                },
                RejectedApproverName: {
                    title: 'Rejector',
                    sort: false
                },
                RejectedApproverLevel: {
                    title: 'Title',
                    sort: false
                },
                RejectedDate: {
                    title: 'Rejected Date',
                    type: 'date',
                    displayFormat: 'mm/dd/yy',
                    sort: false
                }
            }
        });

        //Load person list from server
        $('#PendingRequestTable').jtable('load');

    });

</script>
<br />
<br />
<br />
<br />
