@{
    ViewBag.Title = "ViewPendingRequest";
}
<div id="PendingRequestTable2" style="width: 98%; margin: auto; font-size: 5px"></div>



<script src="~/Scripts/PendingRequest2.js"></script>
<table style="width: 50%;">
    <tr>
        <td colspan="2">
            <p><strong style="font-size: medium">Notes:</strong> </p>
            <p><strong>St</strong>atus
            p=pending,a=approved,fb=feedback required</p>
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />
