

@{
    ViewBag.Title = "IP Users";
}
    
<div id="AllUsersTable" style="width: 100%; margin: auto;"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#AllUsersTable').jtable({
            title: 'IP Users',
            paging: true,
            sorting: true,
            defaultSorting: 'Name ASC',
            pageSize: 20,
            selecting: false,
            multiselect: false, 
            selectingCheckboxes: false, 
            actions: {
                listAction: 'Requestor/GetRequestorsIncludeRoles?controllerType=requestor'
            },
            fields: {
                IpRequestorId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                RequestDetailsLink: {
                    title: '',
                    sorting: false
                },
                FullName: {
                    title: 'Name'
                },
                EmpID: {
                    title: 'EmpID'
                },
                Email: {
                    title: 'E Mail'
                },
                JobTitle: {
                    title: 'Job Title'
                },
                RequestorsRoles: {
                    title: 'Roles',
                    sorting: false
                }
            }
        });

        //Load person list from server
        $('#AllUsersTable').jtable('load');

    });

</script>
